<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunlong.mapper.HelpMapper">

    <select id="selectRealperson" resultType="int">
        select count(ID) from REALPERSON where TYPEID = #{Typeid} and TYPE = 'A'
    </select>
    <select id="selectUsernameByUserid" resultType="java.lang.String">
        select USERNAME from USER where ID = #{Userid}
    </select>
    <select id="selectTypeAs" resultType="com.yunlong.model.TypeA">
        select * from TYPEA
    </select>
    <select id="selectPickByType" resultType="com.yunlong.model.Pick">
        select * from PICK where TYPE = #{Type} and TYPEID = #{Typeid}
    </select>
    <select id="selectPickByUserid" resultType="com.yunlong.model.Pick">
        select * from PICK where USERID = #{Userid}
    </select>
    <select id="selectTypeAById" resultType="com.yunlong.model.TypeA">
        select  * from TYPEA where ID = #{Id}
    </select>
    <select id="selectTypeAByUserId" resultType="com.yunlong.model.TypeA">
        select * from TYPEA where USERID = #{Userid}
    </select>
    <insert id="insertTypeA" parameterType="com.yunlong.model.TypeA" useGeneratedKeys="true" keyProperty="id">
        insert into TYPEA (USERID,TITLE,CONTENT,PERSON,MONEY,STARTTIME) values (
                                                                                #{userid},
                                                                                #{title},
                                                                                #{content},
                                                                                #{person},
                                                                                #{money},
                                                                                #{starttime}
                                                                                )
    </insert>
    <insert id="insertPick">
        insert into PICK (TYPE,TYPEID,USERID) values (
                                                      #{Type},
                                                      #{Typeid},
                                                      #{Userid}
                                                     )
    </insert>
</mapper>